# Tuple

A tuple is a collection of objects which is ordered and immutable. Tuples are similar to lists, the main difference ist the immutability. In Python tuples are written with round brackets and comma separated values.

my_tuple = ("Max", 28, "New York")

### Reasons to use a tuple over a list
- Generally used for objects that belong together.
- Use tuple for heterogeneous (different) datatypes and list for homogeneous (similar) datatypes.
- Since tuple are immutable, iterating through tuple is slightly faster than with list.
- Tuples with their immutable elements can be used as key for a dictionary. This is not possible with lists.
- If you have data that doesn't change, implementing it as tuple will guarantee that it remains write-protected.

### Create a tuple
Tuples are created with round brackets and comma separated values. Or use the built-in tuple function.

In [1]:
tuple_1 = ("Ram" , 23 , "hari")
tuple_2 = "ram" , 23 , "hari" # parenthesis are optional

# Special cases: a tuple with only one element needs to have a comma at the end,
# Otherwise it is not recognized as tuple

tuple_3 = (23,)
print(tuple_1)
print(tuple_2)
print(tuple_3)

# Or convert an iterable (list, dict, string) with built-in tuple function
tuple_4 = tuple([1,2,3,4,5,6,7])
print(tuple_4)

('Ram', 23, 'hari')
('ram', 23, 'hari')
(23,)
(1, 2, 3, 4, 5, 6, 7)

### Access elements
You access the tuple items by referring to the index number. Note that the indices start at 0.

In [2]:

item = tuple_1[0]
print(item)
# You can also use negative indexing, e.g -1 refers to the last item,
# -2 to the second last item, and so on
item = tuple_1[-1]
print(item)

Ram
hari

### Add or change items
Not possible and will raise a TypeError.

In [8]:
tuple_1[2] = "Mexico"

TypeError: 'tuple' object does not support item assignment

### Delete a tuple

In [5]:
del tuple_2

In [ ]:
# if you call tuple_2 it'll give an error

### Iterating

In [7]:
# Iterating over a tuple by using for in loop
for items in tuple_1:
    print(items)

Ram
23
hari

### Check if an item exists

In [9]:
if "banana" in tuple_1:
    print("yes")
else:
    print("no")

no

### Some useful things

In [13]:
my_tuple = ("b","a","n","a","n","a",)

# len() : get the number of elements in a tuple
print(len(my_tuple))

# count(x) : Return the number of items that is equal to x
print(my_tuple.count('a'))

# index(x) : Return index of first item that is equal to x
print(my_tuple.index('b'))

# repetition
my_tuple = ('a', 'b') * 5
print(my_tuple)

# concatenation
my_tuple = (1,2,3) + (4,5,6)
print(my_tuple)

# convert list to a tuple and vice versa
my_list = ['a', 'b', 'c', 'd']
list_to_tuple = tuple(my_list)
print(list_to_tuple)

tuple_to_list = list(list_to_tuple)
print(tuple_to_list)

# convert string to tuple
string_to_tuple = tuple('Hello')
print(string_to_tuple)

6
3
0
('a', 'b', 'a', 'b', 'a', 'b', 'a', 'b', 'a', 'b')
(1, 2, 3, 4, 5, 6)
('a', 'b', 'c', 'd')
['a', 'b', 'c', 'd']
('H', 'e', 'l', 'l', 'o')

#### Slicing
Access sub parts of the tuple wih the use of colon (:), just as with strings.

In [14]:
# a[start:stop:step], default step is 1
a = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
b = a[1:3] # Note that the last index is not included
print(b)
b = a[2:] # until the end
print(b)
b = a[:3] # from beginning
print(b)
b = a[::2] # start to end with every second item
print(b)
b = a[::-1] # reverse tuple
print(b)

(2, 3)
(3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3)
(1, 3, 5, 7, 9)
(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

#### Nested tuples
Tuples can contain other tuples (or other container types).

In [17]:
a = ((0,1),("age","height"))
print(a)
print(a[0])
print(a[1])

((0, 1), ('age', 'height'))
(0, 1)
('age', 'height')

#### Compare tuple and list

The immutability of tuples enables Python to make internal optimizations. Thus, tuples can be more efficient when working with large data

In [18]:
# compare the size
import sys
my_list = [0, 1, 2, "hello", True]
my_tuple = (0, 1, 2, "hello", True)
print(sys.getsizeof(my_list), "bytes")
print(sys.getsizeof(my_tuple), "bytes")

# compare the execution time of a list vs. tuple creation statement
import timeit
print(timeit.timeit(stmt="[0, 1, 2, 3, 4, 5]", number=1000000))
print(timeit.timeit(stmt="(0, 1, 2, 3, 4, 5)", number=1000000))

104 bytes
80 bytes
0.0974792999913916
0.0311760000186041

#### Covnerting tuples other data structure

In [22]:
a = (1,2,2,3,4,4,5,7,8)
b = list(a)
c = set(a)
print(b)
print(type(b))
print(c)
print(type(c))
t = (("a", 1), ("b", 2), ("c", 3))
d = dict(t)
print(d)
print(type(d))

[1, 2, 2, 3, 4, 4, 5, 7, 8]
<class 'list'>
{1, 2, 3, 4, 5, 7, 8}
<class 'set'>
{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>