### In this segment we'll explore about the python data strucures

### List

In [262]:
myList=[1,2,3,"Hello"]
print(myList)
print(type(myList))

[1, 2, 3, 'Hello']
<class 'list'>

In [263]:
l2=list([1,2,3])
print(l2)
print(type(l2))

[1, 2, 3]
<class 'list'>

In [265]:
l3=list(l2)
print(l3)

[1, 2, 3]

In [266]:
l4=l2+l3
print(l4)

[1, 2, 3, 1, 2, 3]

In [313]:
l5=[3,6,7,8,9]
l5.extend(l2) #extend changes the original variable
print(l5)

[3, 6, 7, 8, 9, 1, 2, 3]

In [271]:
#here the extended version of l5 is used
print(l5+l2)

[3, 6, 7, 8, 9, 1, 2, 3, 1, 2, 3]

In [275]:
#print the square of first 6 natural number in the form of list 
l6=[i*i for i in range(1,7)]
print(l6)

[1, 4, 9, 16, 25, 36]

In [276]:
##list Slicing
print(l6[0:3])
print(l6[-3:])

[1, 4, 9]
[16, 25, 36]

### Insertion and deletion:
- append
- insert
- remove
- pop
- del

In [299]:
l=[1,2]
l.append(3)
print(l)
l.append([1,2])
print(l)
l+=[4,5,6]
print(l)
print(l[3])
print(l[3][0])
print(l[3][1])

[1, 2, 3]
[1, 2, 3, [1, 2]]
[1, 2, 3, [1, 2], 4, 5, 6]
[1, 2]
1
2

In [300]:
print(l)

[1, 2, 3, [1, 2], 4, 5, 6]

In [304]:
print(l)
del l[0]
print(l)

[3, [1, 2], 4, 5, 6]
[[1, 2], 4, 5, 6]

In [305]:
#pop deletes element from last
l.pop()
print(l)

[[1, 2], 4, 5]

In [306]:
l=[1,2,3]
l=l*4
#repeats the list 4 times
print(l)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [307]:
l=["apple","mango","guava",80]
80 in l

True

In [308]:
for i in range(len(l)):
    print(l[i])

apple
mango
guava
80

In [310]:
#the upper and this row both gives the same output
for x in l:
    print(x)

apple
mango
guava
80

In [312]:
#insert method
l.insert(2,20) # the first value is the index and the second one is the acutal value
print(l)

['apple', 'mango', 20, 20, 'guava', 80]

In [320]:
# finding the max , min values
l=[1,2,4,56,7,8,9,0]
print(max(l))
print(min(l))

56
0

In [319]:
#finding the index of max and min values when you know them
print(l.index(56))
print(l.index(0))

3
7

In [318]:
#to find the index of max and min value in the list without knowing the acutal numbers
print(l.index(max(l)))
print(l.index(min(l)))

3
7

In [322]:
sorted(l)

[0, 1, 2, 4, 7, 8, 9, 56]

In [323]:
print(l)

[1, 2, 4, 56, 7, 8, 9, 0]

In [324]:
l=sorted(l)
print(l)

[0, 1, 2, 4, 7, 8, 9, 56]

In [328]:
#To sort list in descending order
l2=[300,5,4,3,6,7]
l2.sort(reverse=True)
print(l2)

[300, 7, 6, 5, 4, 3]

In [329]:
#Read a list of numbers from the user
#As we have already used .split() to covert the fed input into the list of number 
#So we'll do the same here 
numbers=input().split()
print(type(numbers))
print(numbers)

 1 2 3 4 5 6 7 8

<class 'list'>
['1', '2', '3', '4', '5', '6', '7', '8']

In [331]:
#Here the numbers that are fed in are saved as integers not as strings
numbers=[int(x) for x in input().split()]
print(type(numbers))
print(numbers)

 1 2 3 4 5 6 7 8 9

<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Tuples

Tuples are collection of objects.

- Unlike lists they are immutable,To summarise the difference, mutable objects can change their state or contents and immutable objects canâ€™t change their state or content.Strings and tuples are immutable.

- Coma seperated entries within ()

#### Why use tuples?

- Tuples are faster than lists.
- Data is safe and write-protected.
- If we want to return multiple values from a function.

In [338]:
t=(1,2,3,4,56,6)
print(type(t))
t[3]

<class 'tuple'>

4

In [342]:
#To change the values of tuples to list
l=list(t)
print(l)
print(type(l))
l[0]=10
print(l)

[1, 2, 3, 4, 56, 6]
<class 'list'>
[10, 2, 3, 4, 56, 6]

In [344]:
#conveting list to tuples
l=[1,2,3,4,6,7,8,88]
t=tuple(l)
print(t)
print(type(t))

(1, 2, 3, 4, 6, 7, 8, 88)
<class 'tuple'>

In [345]:
#concatination of tuple
x=(1,2,34)
y=(3,6,7,8)
z=x+y
print(z)

(1, 2, 34, 3, 6, 7, 8)

In [346]:
#repetation of tuples
x=x*3
print(x)

(1, 2, 34, 1, 2, 34, 1, 2, 34)

In [351]:
#finding the max and min value in a tuple
print(z)
print(max(z))
print(min(z))

(1, 2, 34, 3, 6, 7, 8)
34
1

In [349]:
#finding the max and min value index when we know them
print(z.index(34))
print(z.index(1))

2
0

In [350]:
#finding the max and min value index without knowing what the numbers are
print(z.index(max(z)))
print(z.index(min(z)))

2
0

In [352]:
#after deletion you can't call the variable that you just deleted
del z
print z # it's meant to give error

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (890113834.py, line 2)

Set

### stores unique unordered elements

In [353]:
s={100,2,4,6,7,8,10}
print(s)
print(type(s))

{2, 100, 4, 6, 7, 8, 10}
<class 'set'>

In [355]:
if 100 in s :
    print("present")
else:
    print("not present")

present

In [356]:
s=set([15,1,2,2,4,3,1,1])
print(s)
# each element has only one copy, no repetition

{1, 2, 3, 4, 15}

In [367]:
s.add(100)
print(s)

{1, 2, 3, 4, 100, 15, 50}

In [369]:
s.remove(15)
print(s)

{1, 2, 3, 4, 100, 50}

In [375]:
a={1,2,3,4,5,6,9}
b={4,5,6,7,8,9,10}
print(a.union(b))
print(a|b)
print(a.intersection(b))
print(a&b)
print(a-b)
print(a.difference(b))
print(b-a)
print(b.difference(a))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{9, 4, 5, 6}
{9, 4, 5, 6}
{1, 2, 3}
{1, 2, 3}
{8, 10, 7}
{8, 10, 7}

In [377]:
a1={1,2,3,4}
a2={2,3,4,5,6}
print(a1 ^ a2)
#XOR operator-returns elemnts which are only in one of the sets
#XOR oeprator is basically and operator ie: their functionaly is same

{1, 5, 6}

Dicionary

stores values in the form of (key,value) pair not in sorted order.
keys should be unique

In [379]:
d={}
print(type(d))
d1={1,3,5,6}
print(type(d1))

<class 'dict'>
<class 'set'>

In [391]:
d={"mango":40,"apple":50}
print(d)
print(type(d))
#looking
print(d["mango"])
#adding values
d["banana"]=40
print(d)
#values can be anything
d["pineapple"]=[10,20]
print(d)
#using dictionary within a key
d["grapes"]={"small":50,"large":100}
print(d)
print(d["grapes"]["large"])

{'mango': 40, 'apple': 50}
<class 'dict'>
40
{'mango': 40, 'apple': 50, 'banana': 40}
{'mango': 40, 'apple': 50, 'banana': 40, 'pineapple': [10, 20]}
{'mango': 40, 'apple': 50, 'banana': 40, 'pineapple': [10, 20], 'grapes': {'small': 50, 'large': 100}}
100

In [392]:
print(d.keys())
#returns list of keys

dict_keys(['mango', 'apple', 'banana', 'pineapple', 'grapes'])

In [401]:
#get() method used to get value for a given key
print(d.get("mango"))
print(d.get("grapes"))
print(d.get("pineapple"))
#this doesn't throw an error when a mentioned key isn't avaiblabe eg:
print(d.get("avacado")) #throws none

40
{'small': 50, 'large': 100}
[10, 20]
None

In [406]:
print(d["mango"])
print(d["grapes"])
print(d["banana"])

40
{'small': 50, 'large': 100}
40

In [407]:
#this system gives error if the mentioned key is not avalable
print(d["honey"]) #it's meant to give error

KeyError: 'honey'

In [410]:
if "grapes" in d:
    print("Price of grapes is",d["grapes"])
else:
    print("Doesn't exist")

Price of grapes is {'small': 50, 'large': 100}

In [414]:
if "honey" in d:
    print("Price of honey is",d["honey"])
else:
    print("Doesn't exist")

Doesn't exist

In [424]:
#del d["the key of that item"] and that item will be deleted from the dictionary
#items() method->returns list of tuples
print(d.items())
print(d)

dict_items([('apple', 50), ('pineapple', [10, 20]), ('grapes', {'small': 50, 'large': 100})])
{'apple': 50, 'pineapple': [10, 20], 'grapes': {'small': 50, 'large': 100}}

In [425]:
#Converting dictionary into list
l=list(d.items())
print(l)

[('apple', 50), ('pineapple', [10, 20]), ('grapes', {'small': 50, 'large': 100})]

In [426]:
# updtate()->merges two dictionary
print(d)
d2={"Strawberry":45}
d.update(d2)
print(d)

{'apple': 50, 'pineapple': [10, 20], 'grapes': {'small': 50, 'large': 100}}
{'apple': 50, 'pineapple': [10, 20], 'grapes': {'small': 50, 'large': 100}, 'Strawberry': 45}

In [427]:
print(len(d))

4

In [432]:
#zip() method
#making dictionary using two lists
l1=["Apple","Papaya","Guava","Banana"]
l2=[100,120,30,50] # the value will only be assigned to the varibale with the same index
p=zip(l1,l2)
print(p)
type(p)

#creates zip object
p=dict(p) # p=dict(zip(l1,l2))
print(p)

<zip object at 0x0000026254D7C040>
{'Apple': 100, 'Papaya': 120, 'Guava': 30, 'Banana': 50}

In [433]:
for items in p:
    print(items)

Apple
Papaya
Guava
Banana

In [438]:
for kys in p.keys():
    print(kys)

Apple
Papaya
Guava
Banana

In [439]:
for val in p.values():
    print(val)

100
120
30
50

In [440]:
for values in p:
    print(p[values])

100
120
30
50