### In this segment we'll first understand python basics

In [2]:
print("Hello world")

Hello world

There are multiple ways you can comment stuff

In [2]:
#single line comment
#print("hello world")
print("hi")

hi

In [3]:
"""This is a multiline comment
    you can change lines
    and can write what you 
    want in muliple lines"""
print("hello world")

hello world

In [7]:
a=2+3;
b=3-1;
c=2*3;
d=4/2;
print(a,b,c,d)
print(a)
print(b)
print(c)
print(d)

5 2 6 2.0
5
2
6
2.0

In [14]:
a=10
b="hey"
c=2.0
d=True
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

\n is used to jump to the next line
\t is used to enter a tab space

In [21]:
print("hello \nworld")
print("hello \tworld")

hello
world
hello 	world

In [29]:
a=20
b=10
print(a,b)
print(a+b)
print("sum:",a+b)

20 10
30
sum: 30

In [30]:
x=10
if x==10:
    print("Hello")

Hello

In [32]:
#this returns nothing as the condition is not satisfied
x=5
if x==10:
    print("Hello")

In [203]:
# %s is used for string just like in c but it's better to use format
my_string=("capital of %s is %s" %("Nepal","Kathmandu")) 
print(my_string)

my_string_2="capital of {} is {}".format("Nepal","Kathmandu")
print(my_string_2)

capital of Nepal is Kathmandu
capital of Nepal is Kathmandu

In [40]:
print("Hello World")
print("Hello Everyone")

Hello World
Hello Everyone

In [43]:
print("Hello World",end="")
print("Hello Everyone")

Hello WorldHello Everyone

In [44]:
print("Hello World",end=" ")
print("Hello Everyone")

Hello World Hello Everyone

In [51]:
print("A","B","C","ABC")

A B C ABC

In [52]:
print("A","B","C","ABC",sep="___")

A___B___C___ABC

In [54]:
print("A","B","C","ABC",sep="\n")

A
B
C
ABC

USER INPUTS FROM THE USER

In [56]:
name=input();

 swopnim

In [57]:
name=input("enter a name")

enter a name swopnim ghimire

In [58]:
name=input("enter a name")
print(name)

enter a name swopnim

swopnim

In [59]:
type(name)

str

In [60]:

"10 20 30 40".split()
#gives list of string

['10', '20', '30', '40']

In [62]:
l="10 20 30 40".split()
print(l)
print(type(l))

['10', '20', '30', '40']
<class 'list'>

In [63]:
numbers=[int(x) for x in l]
print(numbers)

[10, 20, 30, 40]

In [70]:
numbers=[int(x) for x in input().split()]
print(numbers)

 1 2 4

[1, 2, 4]

Operators And Expressions

In [71]:
10/3
#division

3.3333333333333335

In [ ]:
10+3
#sum

In [ ]:
10-3
#difference

In [ ]:
10*3
#product

In [ ]:
10%3
#reminder

In [ ]:
10//3
#returns the floor value

In [73]:
2**4
#initial raised to the power final ie: 2 raised to the power 4

16

In [76]:
#compare the values of the given varibales
a=2
b=3
print(a==b)
print(a!=b)

False
True

In [78]:
weather="Sunny"
temp=30
if weather=="Sunny" and temp>30:
    print("Lets enjoy at home")
else:
    print("lets go outside")

lets go outside

In [83]:
#let's do same by asking input form user
temp=int(input("enter the temperature:"))
if (temp>30):
    print("Lets enjoy at home")
else:
    print("lets go outside")

enter the temperature: 10

lets go outside

In [84]:
#let's do same by asking input form user
temp=int(input("enter the temperature:"))
if (temp>30):
    print("Lets enjoy at home")
else:
    print("lets go outside")

enter the temperature: 40

Lets enjoy at home

In [86]:
#calculate area of rectangle
l=int(input("enter the length:"))
b=int(input("enter the bredth:"))
area=l*b
peri=2*(l+b)
print("Area ={} Periimeter={}".format(area,peri))

enter the length: 1
enter the bredth: 2

Area =2 Periimeter=6

If else

In [95]:
weather=input("explain how the weather is:").lower()
#using .lower() lowercases the input such that comparision becomes easy
if weather=="rainy":
    print("Do Not Go Outside")
elif weather=="cool":
    print("Lets PLay Cricket")
else:
    print("Lets go for shopping")

explain how the weather is: Rainy

Do Not Go Outside

Now let's learn more about loops

In [98]:
start=0
end=10
while start<=end:
    print("hello world",start)
    start+=1
print("work done")

hello world 0
hello world 1
hello world 2
hello world 3
hello world 4
hello world 5
hello world 6
hello world 7
hello world 8
hello world 9
hello world 10
work done

In [99]:
for i in range(1,5):
    print(i)
#the starting value is included but the ending value isn't

1
2
3
4

In [100]:
for i in range(1,5):
    print(i,end=",")

1,2,3,4,

In [103]:
# to print till 5 you have to write 6 as the ending value
for i in range(1,6):
    print(i)

1
2
3
4
5

In [105]:
#finding factorial of a number
a=5
n=1
for i in range(1,6):
    # 6 is not included
    n=n*i
print(n)

120

In [107]:
#finding factorial of the number entered by the user using for loop
#you can do the same using while loop too which we'll see later 
a=int(input("Enter the number that you want to find the factorial of :"))
fac=1
end=a+1
for i in range (fac,end):
    fac=fac*i
print(fac)

Enter the number that you want to find the factorial of : 5

120

In [109]:
#for i in range(start,end,step)
for i in range(10,5,-1):
    print(i)

10
9
8
7
6

Break,Continue and Pass Statements

In [111]:
# pass is used if you don't wany any execution of the code
for i in range(1,10):
    pass
print("hi")

hi

In [113]:
for i in range(1,10):
    if i==5: #this does nothing basically even when i==5 this just tells
        pass #the program to keep on goint on 
    print(i)

1
2
3
4
5
6
7
8
9

In [114]:
for i in range(1,10):
    if i==5: # the loop stops execution when i==5
        break
    print(i)
print("loop ends")

1
2
3
4
loop ends

In [117]:
for i in range(1,10):
    if i==5: # this tell the function to keep on doing it's work 
        continue
    print(i)
"""pass is a null statement that does nothing, while continue
is a control flow statement that skips to the next loop iteration."""

1
2
3
4
6
7
8
9

'pass is a null statement that does nothing, while continue\nis a control flow statement that skips to the next loop iteration.'


keywords Arguments

In [127]:
def myFunc(score,lang,rollNo): #this is def a function we'll see it later
    print("I scored %d in %s" %(score,lang)) #we saw if before
    print("rollNo:",rollNo)

myFunc(rollNo=404,score=100,lang="python")

I scored 100 in python
rollNo: 404

In [ ]:
Strings And Builtin Methods

In [129]:
a="hey there"
print(a)

hey there

In [134]:
print(a[2]) #indexing start from zero so the second letter is the third one

y

In [133]:
print(a[-1]) #picks the first number from the last

e

In [135]:
print(len(a)) #gives the length of the variable

9

In [136]:
#strings are not mutable ie they can't be alterd normally like
a[2]=z
print(a) #we're supposed to get error instead we can do this:

NameError: name 'z' is not defined

In [144]:
a="hey there"
a=a.replace('e','z',1) #doing it just once at the first part
print(a)

hzy there

In [143]:
a="hey there"
a=a.replace('e','z') #doing it for the entire string
print(a)

hzy thzrz

In [261]:
#printing every character of the string
a="heaven"
for i in a:
    print(i)

h
e
a
v
e
n

In [152]:
#printing every character of the stirng using indexing
a="heaven"
end=len(a)
start=0
for i in range(start,end): # you can try doing it with the while loop
    print(a[i])

h
e
a
v
e
n

In [153]:
for char in a :
    print(char)

h
e
a
v
e
n

In [154]:
# this is called concating a string
a="Mango"
b="Juice"
print(a+b)

MangoJuice

In [157]:
a="Mango"
b="Juice"
print(a+" "+b) #this gives the required space

Mango Juice

In [159]:
print(a*5)

MangoMangoMangoMangoMango

In [167]:
#indexing in a string (start:end:step)
print(a) 
print(a[1:])
print(a[0:-1]) #sub the last element
print(a[0:-2]) #sub the last two element
print(a[::-1]) #the most delicate way to reverse a string

Mango
ango
Mang
Man
ognaM

In [174]:
print("man" in a)
print("go" in a)
print("hey" in a)

False
True
False

In [175]:
#for multiline string use  triple quotes
para="""This is 
a multiline 
paragraph"""
print(para)

This is
a multiline
paragraph

In [260]:
l=para.split()
print(l)
''' this is used to split up the words and then convert it in the 
    list of words'''

['This', 'is', 'a', 'multiline', 'paragraph']

' this is used to split up the words and then convert it in the \n    list of words'

In [181]:
a="hey there the world is not the same for everyone"
print(a)
l=a.split()
print(l)

hey there the world is not the same for everyone
['hey', 'there', 'the', 'world', 'is', 'not', 'the', 'same', 'for', 'everyone']

In [184]:
#making a list of all the characters of the string 
a="heythere"
l=list(a)
print(l)

['h', 'e', 'y', 't', 'h', 'e', 'r', 'e']

In [188]:
print(type(a))
# here the a we are refering to isn't the varibale declared above
print(type("""a"""))
print(type("a"))

<class 'str'>
<class 'str'>
<class 'str'>

In [198]:
#priority is given to the statement that is written above
x=10
X=20
print(x)
print(X)
print(x+10)
print(x+10)

10
20
20
20

In [206]:
a="HelloWorld"
b=a.lower()
c=a.upper()
print(b)
print(c)

helloworld
HELLOWORLD

In [208]:
a="       123"
len(a) #the space is taken into account

10

In [210]:
a=a.strip() #this is used to remvoe empty space
len(a)

3

In [211]:
a="93"
a.isdigit()
#returns true if the strings contains only numbers

True

In [212]:
a="hello12345"
a.isdigit()
#returns true if the strings contains only numbers

False

In [213]:
a="hello12345"
a.isalnum()
#should contain only alphabets and numbers

True

In [214]:
a="HEY"
a.islower()

False

In [215]:
a="hey"
a.islower()

True

In [216]:
a="I love having Apple Juice, and i like to eat green Apple"
a.find("Apple")
#return first occurence from left in the string

14

In [234]:
string="a quick brown fox jumps over the lazy dog"
idx=string.find("fox")
print(idx)
'''if it doesn't contain the character or the word that you searched then
it'll return -1 as the result'''
b=string.find('o')
print(b)
c=string.find('o',11) #searches from the index 11 onwards
print(c)
d=string.find('o',11,19) #serahces from 11 to 19 
print(d)
"""index and find are the same but find returns -1 if the character
    is not in the string but index raises a value error"""
b=string.index('o')
print(b)

14
10
15
15
10

In [242]:
''' rfind returns the occurance of the last value of the substring of the sring '''
string="a quick brown fox jumps over the lazy dog"
idx=string.rfind("a")
print(idx)
b=string.rfind("a",20,35)
print(b)
c=string.rfind("a",10,32)
print(c)

34
34
-1

In [245]:
a='hey hey hey there'
a.count('hey')

3

In [251]:
a=a.replace("hey","hi")
print(a)
b=a.split()
print(b)
c="_".join(b)
print(c)
d="....".join(b)
print(d)

hi hi hi there
['hi', 'hi', 'hi', 'there']
hi_hi_hi_there
hi....hi....hi....there

In [259]:
a="a quick brown fox jumps over the lazy dog"
b=a.capitalize()
print(a)
print(b)
# just capitalizes the first letter of the first alpahbet

a quick brown fox jumps over the lazy dog
A quick brown fox jumps over the lazy dog

In [258]:
a="a quick brown fox jumps over the lazy dog"
b=a.title()
print(a)
print(b)
# capitalizes the first letter of every word

a quick brown fox jumps over the lazy dog
A Quick Brown Fox Jumps Over The Lazy Dog